#mtitle {
    text-align: center;
    text-decoration-line: underline;
    font-size: 80px;
    color: rgb(190, 102, 1);
}

.list {
    background-color: rgb(255, 145, 18);
    font-size: 30px;
    margin:auto;
    padding: 40px;
    border: 10px solid black;
    display: block;
    align-items: center;
    margin-bottom: 50px;
    
}

.bfont{
    color:rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-weight:bold;
    text-decoration: none; 
}