#mtitle {
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: black;
    font-size: 80px;
    color: rgb(190, 102, 1);
}

.list {
    background-color: rgb(255, 145, 18);
    font-size: 30px;
    margin:auto;
    padding: 40px;
    border: 5px solid black;
    display: block;
    align-items: center;
    margin-bottom: 50px;
    
}

.bfont{
    color:rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-weight:bold;
    text-decoration: none; 
}

.flexbox{
    display:flex;
    gap: 2rem;
    
}

.flex1{
    font-size: 15px;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
    background-color:rgb(255, 145, 18);
    list-style-type: none;
    border: black 3px solid;
}